body {
  margin: 0px;
}

h1 {
    font-size: 10vw;
    text-align: center;
}

h2 {

    font-size: 5vw;
    text-align: center;
}

h3 {

    font-size: 3vw;
    text-align: center;
}

h4 {
    font-size: 2vw;
    text-align: center;
}

/* 
.img-fluid {

    max-width: 100%;
    height: auto;

} */

    
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    place-items: center;
    
  

}

section .logo {
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    background-color: rgb(255, 255, 255);
    text-align: center;

    
    
}

section .cabecalho {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
    background-color: rgb(179, 43, 43);
    
    
   
   
    
}

section .busca {
    grid-column: 1/span 2;
    grid-row: 3/span 1;
    background-color: rgb(255, 255, 255);
    text-align: center;
  
  
     }

 section .links {
    grid-column: 1/span 1;
    grid-row: 4/span 1;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
  
   
   
}

section .miolo {
    grid-column: 2/span 1;
    grid-row: 5/span 1;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
   
}

section .cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
    text-align: center;
}

section .contItem {
    
    background-color: rgb(255, 255, 255);
    text-align: center;
   
    
}

section .rodape {
    grid-column: 1/span 6;
    grid-row: 6/span 1;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}